// Header Nav
@keyframes Logo-1 {
  0% {
    opacity: 0;
    transform: scale(3);
  }
  35% {
    text-shadow: 0px 0px 0px rgb(255, 255, 255);
  }
  40% {
    opacity: 1;
    transform: scale(1);
    text-shadow: 1px 1px 10px rgb(255, 255, 255);
  }
  50% {
    transform: scale(1.1);
    text-shadow: 2px -2px 5px rgba(255, 255, 255, 0.8);
  }
  60% {
    transform: scale(1);
    text-shadow: 3px -3px 10px rgb(255, 255, 255);
  }
  80% {
    transform: rotate(0deg);
    text-shadow: 5px -5px 20px rgba(255, 255, 255, 0);
  }
  100% {
    transform: rotate(-3deg);
  }
}

@keyframes Logo-2 {
  0% {
    transform: translate(-200px, 0px) skewX(20deg);
  }
  60% {
    transform: translate(0px, 0px) skewX(20deg);
  }
  80% {
    transform: skewX(-10deg);
  }
  100% {
    transform: skewX(0deg);
  }
}

@keyframes Logo-3 {
  0% {
    opacity: 0;
    transform: scale(2) rotate(0turn);
  }
  70% {
    opacity: 1;
    transform: scale(1) rotate(0.7turn);
  }
  90% {
    transform: rotate(0.9turn);
  }
  100% {
    transform: rotate(1turn);
  }
}

.nav_title {
  animation-duration: 1s;
  cursor: pointer;
}

.nav_anim_1 {
  animation-name: Logo-1;
  animation-timing-function: ease-in-out;
  transform: rotate(-3deg);
}
.nav_anim_2 {
  animation-name: Logo-2;
  transform-origin: bottom center;
  animation-timing-function: linear;
}
.nav_anim_3 {
  animation-name: Logo-3;
  animation-timing-function: linear;
}

// Footer
.footer {
  width: 100%;
  color: white;
  padding: 10px 0px 0px 0px;
  background-color: #0a5f1e;
}

.icon_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.copyright_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
}

.icons {
  transition: ease-in 0.2s;
  margin: 0 0.5rem;
  color: white;
  font-size: 50px;
  vertical-align: middle;
}

.icons:hover {
  transform: scale(1.2);
}

.twt:hover {
  color: #1DA1F2;
}
.ghb:hover {
  color: black;
}
.evp:hover {
  color: #D44638;
}
.ytb:hover {
  color: #FF0000;
}