.fogrex_container {
  display: flex;
  align-items: center;
  width: 50px;
  background-color: white;
}

.fogrex {
  width: 50px;
}

.icon {
  color: black;
}

.list_style_none {
  list-style-type: none;
  padding: 0px;
}

.list_style_none > li {
  display: block;
}

.padding {
  padding: 10vh 0vw 40vh 0vw;
}